body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #292929 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #f8f8f4 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #f8f8f4 !important;
}

#map {
    min-height: 100%;
    height: 100%;
}

.row {
    height: 100%;
}

.h3 {
    padding: 0px;
    margin-top: 0px !important;
}

.badge, .h3 {
    font-size: 20px !important;
    margin-top: 5px !important;
}

#data {
}


.container-fluid {
    height: 100%;
}

.bar rect {
    fill: steelblue;
}

.bar text {
    fill: #fff;
    font: 10px sans-serif;
}
