body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    margin-left: 320px;
    height: 100% !important;
}

#data {
}


.container-fluid{
    height: 100%;
}